content/_toolsautosave/*
content/core/*
content/dota/*
content/dota_core/*
content/dota_imported/*
content/dota_addons/addon_template/*
content/dota_addons/adventure_example/*
content/dota_addons/adventure_test/*
content/dota_addons/first_try/*
content/dota_addons/holdout_example/*
content/dota_addons/lua_ability_example/*
content/dota_addons/overthrow/*
content/dota_addons/rpg_example/*
content/dota_addons/rpg_example_test/*
content/dota_addons/ui_example/*
content/dota_addons/ui_example_test/*

game/_toolsettings/*
game/bin/*
game/core/*
game/dota/*
game/dota_core/*
game/dota_imported/*
game/dota_koreana/*
game/dota_koreana_imported/*
game/dota_lv/*
game/dota_lv_imported/*
game/dota_schinese/*
game/dota_schinese_imported/*

game/dota_addons/addon_template/*
game/dota_addons/adventure_example/*
game/dota_addons/adventure_test/*
game/dota_addons/first_try/*
game/dota_addons/holdout_example/*
game/dota_addons/lua_ability_example/*
game/dota_addons/overthrow/*
game/dota_addons/rpg_example/*
game/dota_addons/rpg_example_test/*
game/dota_addons/ui_example/*
game/dota_addons/ui_example_test/*
game/dota_addons/hero_demo/*
game/dota_addons/tutorial_assist_game/*
game/dota_addons/tutorial_basics/*
game/dota_addons/dota2cfg.cfg
game/dota_addons/vpks/*
game/dota_addons/lasthitchallenge/*.bin
game/dota_addons/lasthitchallenge/panorama/*
game/dota_addons/lasthitchallenge/panorama_debugger.cfg
game/dota_addons/lasthitchallenge/particles/*
game/dota_addons/lasthitchallenge/materials/*

bin/*
_CommonRedist/*
dota/*
platform/*
dota.exe
installscript.vdf
steam_appid.txt
thirdpartylegalnotices.txt
