@define TotalLength: 0.3s;
@define TimingFunc: linear;
@define IterationCount: 3;

.RecordsPanel{
    width: 200px;
    height: 170px;
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #393939 ), to( #414849 ) );
    border-radius:1px;
    border:0.1px solid #8c8f8e;
    opacity: 0.7;
    background-size: 100% 100%;
    vertical-align: top;
    horizontal-align: right;
    margin-top: 200px;
}

.CreepScoreHolder{
    width: 200px;
    height: 400px;
    horizontal-align: center;
    vertical-align: center;
}

#records_label{
    font-size: 20px;
    font-weight: bold;
    color: #a0a0a0;
    text-shadow: 0 0 10px #000000;
    horizontal-align: center;
    margin-top: 10px;
}

.CSHolder{
    width: 180px;
    height: 50px;
    flow-children: right;
    horizontal-align: center;
    vertical-align: top;
    margin-top: 40px;
}

#cs_label{
    font-size: 20px;
    font-weight: bold;
    text-shadow: 0 0 10px #000000;
    color: #a0a0a0;
    horizontal-align: center;
}

#cs{
    font-size: 20px;
    font-weight: bold;
    color: #a0a0a0;
    text-shadow: 0 0 10px #000000;
    horizontal-align: right;
    margin-right: 10px;

    animation-duration: TotalLength;
    animation-timing-function: TimingFunc;
    animation-iteration-count: IterationCount;
}

.LHHolder{
    width: 180px;
    height: 50px;
    flow-children: right;
    horizontal-align: center;
    margin-top: 80px;
}

#lh_label{
    font-size: 20px;
    font-weight: bold;
    text-shadow: 0 0 10px #000000;
    color: #a0a0a0;
    horizontal-align: center;
}

#lh{
    font-size: 20px;
    font-weight: bold;
    text-shadow: 0 0 10px #000000;
    color: #a0a0a0;
    horizontal-align: right;
    margin-right: 10px;

    animation-duration: TotalLength;
    animation-timing-function: TimingFunc;
    animation-iteration-count: IterationCount;
}

.DNHolder{
    width: 180px;
    height: 50px;
    flow-children: right;
    horizontal-align: center;
    margin-top: 120px;
}

#dn_label{
    font-size: 20px;
    font-weight: bold;
    text-shadow: 0 0 10px #000000;
    color: #a0a0a0;
    horizontal-align: center;
}

#dn{
    font-size: 20px;
    font-weight: bold;
    color: #a0a0a0;
    text-shadow: 0 0 10px #000000;
    horizontal-align: right;
    margin-right: 10px;

    animation-duration: TotalLength;
    animation-timing-function: TimingFunc;
    animation-iteration-count: IterationCount;
}

.lh_new_record #lh
{
    visibility: visible;
    animation-name: NewRecord;
}

.dn_new_record #dn
{
    visibility: visible;
    animation-name: NewRecord;
}

.cs_new_record #cs
{
    visibility: visible;
    animation-name: NewRecord;
}

@keyframes 'NewRecord'
{
    50%
    {
        transform:  scaleX(1.75) scaleY(1.75);
    }
}