@define TotalLength: 1.0s;
@define TimingFunc: linear;
@define IterationCount: infinite;

.OverlayRoot{
    width: 100%;
    height: 100%;
}

.OverlayPanel{
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    vertical-align: top;
    horizontal-align: left;
    visibility: visible;
}

#txtHolder{
    width: 150px;
    height: 32px;
    opacity: 0.5;
}

#txt{
    font-size: 15px;
    font-weight: bold;
    color: #a0a0a0;
    horizontal-align: center;
    vertical-align: center;
    text-shadow: 0 0 2px black;

    animation-duration: TotalLength;
    animation-timing-function: TimingFunc;
    animation-iteration-count: IterationCount;
    
}

.close_anim #txt
{
    visibility: visible;
    animation-name: close;
}

.heavy_breathing #txt
{
    visibility: visible;
    animation-name: wobble;
}


@keyframes 'close'{
    0% { opacity: 1; transform:  scaleX(1.25) scaleY(1.25);}
    100% { opacity: 0; }
}


@keyframes 'wobble' {
    0%    { transform: translate3d(2px, -1px, 0px) rotateZ(1deg) scaleX(1.25) scaleY(1.25); }
    10%    { transform: translate3d(-5px, 1px, 0px) rotateZ(2deg); }
    20%    { transform: translate3d(1px, 2px, 0px) rotateZ(0deg); }
    30%    { transform: translate3d(0px, -1px, 0px) rotateZ(-1deg); }
    40%    { transform: translate3d(3px, 2px, 0px) rotateZ(2deg); }
    50%    { transform: translate3d(3px, 0px, 0px) rotateZ(1deg); }
    60%    { transform: translate3d(-5px, 2px, 0px) rotateZ(-1deg); }
    70%    { transform: translate3d(-2px, 2px, 0px) rotateZ(-2deg); }
    80%    { transform: translate3d(2px, -2px, 0px) rotateZ(2deg); }
}