@define TotalLength: 3.0s;
@define TimingFunc: linear;
@define IterationCount: infinite;

.PickScreenRoot
{
    width: 100%;
    height: 100%;
}

.PickScreenPanel{
    width: 100%;
    height: 96%;
    background-size: 100% 100%;
    vertical-align: bottom;
    horizontal-align: center;
    visibility: visible;
    background-image: url("file://{images}/bg.jpg");
    background-position: 0% 0%;
    background-repeat: no-repeat;
    flow-children: down;
}

.PickScreenPanel.Minimized
{
    visibility: collapse;
}

.VertBar
{
  width: 1px;
  height: 100%;
  background-color: white;
  opacity: 0.04;
}

Label{
    margin-top: 40px;
    margin-bottom: 20px;
    horizontal-align: center;
    text-transform: uppercase;
    font-size: 50;
    font-weight: bold;
    color: #a0a0a0;
}

.HeroPanelContainer{
    width: 50%;
    horizontal-align: center;
    flow-children: right;
    height: 100%;
}

.HeroPanel{
    width: fill-parent-flow(1.0);
    height: 100%;
}

.HeroPanel Label{
    vertical-align: bottom;
    color: #a0a0a0;
    font-weight: thin;
    font-size: 50;

    animation-duration: 1.0s;
    animation-timing-function: TimingFunc;
    animation-iteration-count: IterationCount;
}

.HeroPanel .PickButton{
    vertical-align: bottom;
    horizontal-align: center;
}

#satyr_img
{   
    width: 100%;
    height: 100%;
    //background-image: url("file://{images}/n_creep_satyr_b.png");
    background-image: url("file://{images}/satyr_bg.jpg");
    background-position: 0% 0%;
    background-size: contain;
    background-repeat: no-repeat;
}

#nevermore_img
{   
    width: 100%;
    height: 100%;
    //background-image: url("file://{images}/shadow_fiend.png");
    background-image: url("file://{images}/shadowfiend_bg.jpg");
    background-position: 0% 0%;
    background-size: contain;
    background-repeat: no-repeat;
}

.HeroPanel .Column{
  background-color: gradient( linear, 0% 100%, 0% 0%, from( #111111), to( #11111166 ) );
  height: fill-parent-flow(1.0);
  width: fill-parent-flow(1.0);
}

.PickButton
{
  transition-property: background-color;
  transition-duration: 0.15s;
  transition-timing-function: linear;
}

.PickButton:hover
{
  background-color: gradient( linear, 0% 100%, 0% 0%, from( #1d1d1d ), to( #1d1d1d00 ) );
}

.PickButton:active
{
  background-color: #4A4A4A;
  pre-transform-scale2d: 1.02;
}

.HeroPanel .PickButton:hover .Column Label
{
  visibility: visible;
  animation-name: bounce;
}

@keyframes 'close'{
    0% { transform:  scaleX(1.0) scaleY(1.0);}
    50% { transform:  scaleX(1.05) scaleY(1.05);}
    100% { transform:  scaleX(1.0) scaleY(1.0);}
}

@keyframes 'bounce' {
  0% {animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); transform: translateY(0);}
  20% {animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); transform: translateY(0);}
  53% {animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); transform: translateY(0);}
  80% {animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); transform: translateY(0);}

  40% {animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060); transform: translateY(-10px);}
  43% {animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060); transform: translateY(-10px);}

  70% {animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060); transform: translateY(-5px);}
}