@define TotalLength: 1.0s;
@define TimingFunc: linear;
@define IterationCount: infinite;

.PickScreenRoot
{
    width: 100%;
    height: 100%;
}

.PickScreenPanel{
    width: 100%;
    height: 96%;
    background-size: 100% 100%;
    vertical-align: bottom;
    horizontal-align: center;
    visibility: visible;
    background-image: url("file://{images}/bg.jpg");
    background-position: 0% 0%;
    background-repeat: no-repeat;
    flow-children: down;
}

.PickScreenPanel.Minimized
{
    visibility: collapse;
}

.PickScreenPanel Label{
    width: 100%;
    horizontal-align: center;
    background-color: black;
    text-align: center;
    text-transform: uppercase;
    font-size: 80;
    opacity: 0.9;
    color: #a0a0a0;    
}

#tooltip{
  transform: translateX( 0px ) translateY( 0px );
  background-color: black;
  opacity: 0.5;
  margin-bottom: 50px;
  border-style: solid;
  border-width: 1px;
  border-color: #444444;
}

.PickScreenPanel .PickButton Label{
  animation-duration: TotalLength;
  animation-timing-function: TimingFunc;
  animation-iteration-count: IterationCount;
}

.PickPanelContainer{
    flow-children: right;
    height: 100%;
}

.PickOptionsPanel{
  vertical-align: bottom;
  margin-bottom: 60px;
  flow-children: down;
}

.PickOptionsPanel .OptionButton Label{
  font-size: 30;
  background-color: none;
  text-transform: none;
  margin-bottom: 0px;
  text-align: left;
}

.OptionButton{
  margin-left: 10px;
}

.PickOptionsPanel .PickButton{
  margin: 0px;
}

.PickPanel{
    width: fill-parent-flow(1.0);
    height: 100%;
}

.PickPanel .Column{
  background-color: gradient( linear, 0% 0%, 0% 100%, from( #111111), to( #11111166 ) );
  height: fill-parent-flow(1.0);
}

.PickPanel Label{
  text-align: center;
  vertical-align: bottom;
  color: #a0a0a0;
  font-weight: thin;
  font-size: 50;
  background-color: black;
  opacity: 0.5;
  
  width: fill-parent-flow(1.0);
  margin-top: 0px;
  margin-bottom: 60px;
}

.PickPanel .PickButton{
    vertical-align: center;
    horizontal-align: center;
}

.VertBar
{
  width: 1px;
  height: 100%;
  background-color: white;
  opacity: 0.04;
}

.SatyrBg
{   
    width: 100%;
    height: 100%;
    background-image: url("file://{images}/satyr_bg.jpg");
    background-position: 0% 0%;
    background-size: contain;
    background-repeat: no-repeat;
}

.ShadowFiendBg
{   
    width: 100%;
    height: 100%;
    background-image: url("file://{images}/shadowfiend_bg.jpg");
    background-position: 0% 0%;
    background-size: contain;
    background-repeat: no-repeat;
}

.PickButton
{
  transition-property: background-color;
  transition-duration: 0.15s;
  transition-timing-function: linear;
}

.PickButton:hover
{
  background-color: gradient( linear, 0% 100%, 0% 0%, from( #1d1d1d ), to( #1d1d1d00 ) );
}

.PickButton:active
{
  background-color: #4A4A4A99;
  pre-transform-scale2d: 1.02;
}

.PickButton:hover Label
{
  visibility: visible;
  animation-name: bounce;
}


@keyframes 'bounce' {
  0% {animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); transform: translateY(0);}
  20% {animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); transform: translateY(0);}
  53% {animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); transform: translateY(0);}
  80% {animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); transform: translateY(0);}

  40% {animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060); transform: translateY(-10px);}
  43% {animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060); transform: translateY(-10px);}

  70% {animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060); transform: translateY(-5px);}
}