@define TotalLength: 1.0s;
@define TimingFunc: linear;
@define IterationCount: infinite;

.TimeScreenRoot
{
    width: 100%;
    height: 100%;
}

.TimeScreenPanel{
    width: 100%;
    height: 96%;
    background-size: 100% 100%;
    vertical-align: bottom;
    horizontal-align: center;
    visibility: visible;
    background-image: url("file://{images}/pickscreen/bg.jpg");
    background-position: 0% 0%;
    background-repeat: no-repeat;
    flow-children: down;
}

.TimeScreenPanel.Minimized
{
    visibility: collapse;
}

.TimeScreenPanel Label{
    width: 100%;
    horizontal-align: center;
    background-color: black;
    text-align: center;
    text-transform: uppercase;
    font-size: 50;
    opacity: 0.9;
    color: #a0a0a0;

    animation-duration: TotalLength;
    animation-timing-function: TimingFunc;
    animation-iteration-count: IterationCount;
}

.TimePanelContainer{
    flow-children: right;
    height: 100%;
}

.TimePanel{
    width: fill-parent-flow(1.0);
    height: 100%;
}

.TimePanel Label{
  text-align: center;
  vertical-align: bottom;
  color: #a0a0a0;
  font-weight: thin;
  font-size: 55;
  background-color: black;
  opacity: 0.5;
  
  width: 100%;
  margin-top: 0px;
  margin-bottom: 100px;
}

.TimePanel .PickButton{
    vertical-align: center;
    horizontal-align: center;
}

.VertBar
{
  width: 1px;
  height: 100%;
  background-color: white;
  opacity: 0.04;
}

.BackPanel{
  width: 100%;
  height: 50px;
  flow-children: right;
}

.BackPanel .PickButton{
  width: 50px;
  vertical-align: middle;
  background-color: black;
}

.BackPanel Label{
  horizontal-align: right;
  height: 100%;
}


.ClockIcon
{
  width: 24px;
  height: 24px;
  margin-bottom: 3px;
  margin-left: 100px;
  vertical-align: middle;
  horizontal-align: left;
  background-image: url("s2r://panorama/images/control_icons/clock_psd.vtex");
  background-position: 0% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  wash-color: #a0a0a0;
}

.BackIcon
{
  width: 50px;
  height: 50px;
  transform: rotateZ(180deg);
  vertical-align: center;
  horizontal-align: left;
  background-image: url("s2r://panorama/images/control_icons/icon_hero_next_arrow_png.vtex");
  background-position: 0% 0%;
  background-size: contain;
  background-repeat: no-repeat;
  wash-color: #a0a0a0;
}

.PickButton
{
  width: 100%;
  background-color: gradient( linear, 0% 0%, 0% 100%, from( #111111), to( #11111166 ) );
  height: 100%;

  transition-property: background-color;
  transition-duration: 0.15s;
  transition-timing-function: linear;

}

.PickButton:hover
{
  background-color: gradient( linear, 0% 100%, 0% 0%, from( #1d1d1d ), to( #1d1d1d99 ) );
}

.PickButton:active
{
  background-color: #4A4A4A99;
  pre-transform-scale2d: 1.02;
}

.PickButton:hover Label
{
  visibility: visible;
  animation-name: bounce;
}

.ChatPanel{
  vertical-align: bottom;
  horizontal-align: center;
  width: 35%;
  opacity: 0.6;
}


@keyframes 'bounce' {
  0% {animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); transform: translateY(0);}
  20% {animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); transform: translateY(0);}
  53% {animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); transform: translateY(0);}
  80% {animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); transform: translateY(0);}

  40% {animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060); transform: translateY(-10px);}
  43% {animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060); transform: translateY(-10px);}

  70% {animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060); transform: translateY(-5px);}
}