@define TotalLength: 1.0s;
@define TimingFunc: linear;
@define IterationCount: infinite;

.TimeScreenRoot
{
    width: 100%;
    height: 100%;
}

.TimeScreenPanel{
    width: 100%;
    height: 96%;
    background-size: 100% 100%;
    vertical-align: bottom;
    horizontal-align: left;
    visibility: visible;
    background-color: #000000;
    flow-children: down;
}

.TimeScreenPanel.Minimized
{
    visibility: collapse;
}

.TimeScreenPanel Label{
    margin-top: 20px;
    margin-bottom: 20px;
    horizontal-align: center;
    text-transform: uppercase;
    font-size: 50;
    font-weight: bold;
    color: #444444;

    animation-duration: TotalLength;
    animation-timing-function: TimingFunc;
    animation-iteration-count: IterationCount;
}

.TimePanelContainer{
    flow-children: right;
    height: 100%;
}

.TimePanel{
    width: fill-parent-flow(1.0);
    height: 100%;
}

.TimePanel .Column{
  background-color: gradient( linear, 0% 100%, 0% 0%, from( #333333), to( #44444400) );
  height: fill-parent-flow(1.0);
}

.TimePanel Label{
    text-align: center;
    vertical-align: bottom;
    color: #a0a0a0;
    font-weight: thin;
    font-size: 90;
    
    width: fill-parent-flow(1.0);
    margin-top: 0px;
    margin-bottom: 60px;
}

.TimePanel .PickButton{
    vertical-align: center;
    horizontal-align: center;
}

.TimePanel .VertBar{
    horizontal-align: center;
    width: 20%;
    height: 100%;
    background-color: gradient( linear, 0% 100%, 0% 0%, from( #ffffff), to( #44444400) );
}

.VertBar
{
  width: 1px;
  height: 100%;
  background-color: white;
  opacity: 0.04;
}

.PickButton
{
  transition-property: background-color;
  transition-duration: 0.15s;
  transition-timing-function: linear;
}

.PickButton:hover
{
    background-color: gradient( linear, 0% 0%, 0% 100%, from( #555555 ), to( #444444 ) );
}

.PickButton:hover Label
{
  visibility: visible;
  animation-name: bounce;
}


@keyframes 'bounce' {
  0% {animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); transform: translateY(0);}
  20% {animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); transform: translateY(0);}
  53% {animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); transform: translateY(0);}
  80% {animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); transform: translateY(0);}

  40% {animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060); transform: translateY(-10px);}
  43% {animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060); transform: translateY(-10px);}

  70% {animation-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060); transform: translateY(-5px);}
}